//Коментарий не попадет в css
/*Коментарий попадет в css*/
@mixin nameMixin($color) {
  background-color: $color;
  color: $color;
}
@import "_reset";
// @font-face {
//   font-family: "Helvetica Neue";
//   src: url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff");
//   font-weight: 400, 500, 600, 700, 800, 900;
//   font-style: normal;
//   font-display: swap;
// }
// @import url();
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: local("../fonts/HelveticaNeueCyr-Roman"), url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBoldCondensed.eot");
  src: local("../fonts/Helvetica Neue Condensed Bold"), local("HelveticaNeueBoldCondensed"), url("../fonts/HelveticaNeueBoldCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff"), url("../fonts/HelveticaNeueBoldCondensed.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBlackCondensed.eot");
  src: local("../fonts/Helvetica Neue Condensed Black"), local("HelveticaNeueBlackCondensed"), url("../fonts/HelveticaNeueBlackCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff"), url("../fonts/HelveticaNeueBlackCondensed.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
// @font-face {
//   font-family: "HelveticaNeueCyr";
//   src: url("../fonts/HelveticaNeueCyr-Bold.eot");
//   src: local("../fonts/HelveticaNeueCyr-Bold"), url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
//   font-weight: bold;
//   font-style: normal;
// }
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src: local("../fonts/HelveticaNeueCyr-Light"), url("../fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: local("../fonts/HelveticaNeueCyr-Roman"), url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: "HelveticaNeueCyr";
//   src: url("../fonts/HelveticaNeueCyr-Medium.eot");
//   src: local("../fonts/HelveticaNeueCyr-Medium"), url("../fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
//   font-weight: 500;
//   font-style: normal;
// }
// @font-face {
//   font-family: "HelveticaNeueCyr";
//   src: url("../fonts/HelveticaNeueCyr-Black.eot");
//   src: local("../fonts/HelveticaNeueCyr-Black"), url("../fonts/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Black.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Black.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Black.ttf") format("truetype");
//   font-weight: 900;
//   font-style: normal;
// }

// @font-face {
//   font-family: "HelveticaNeueCyr";
//   src: url("../fonts/HelveticaNeueCyr-Heavy.eot");
//   src: local("../fonts/HelveticaNeueCyr-Heavy"), url("../fonts/HelveticaNeueCyr-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Heavy.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Heavy.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Heavy.ttf") format("truetype");
//   font-weight: 900;
//   font-style: normal;
// }

// Переменная
$peremennaya: red;
// Цвет шрифта
// $clr: ;
// Размер какогото шрифта
// $fsz: ;
// И тогдалее
// $ff: ;
.hader {
  background-color: $peremennaya;
  @include nameMixin(green);
}

body {
  line-height: 1;
  // overflow-x: hidden;
  font-family: "HelveticaNeueCyr", Arial, Helvetica, sans-serif;
  background-color: #191919;
  color: white;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
[class*="__container"] {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0px 15px;
}
.header {
  position: absolute;
  border-bottom: 2px solid rgba(114, 111, 111, 0.467);
  z-index: 1;
  width: 100%;
  // .header__container
  &__container {
    position: relative;
  }
  // .header__content
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    min-height: 90px;
    z-index: 1;
  }
  // .header__logo
  &__logo {
    flex: 1 1 auto;
    @media (max-width: 400px) {
      flex: 0 1 auto;
    }
  }
  // .header__logo-img
  &__logo-img {
  }
}
.nav-items {
  // .nav-items__ulist
  &__ulist {
    font-family: "Helvetica Neue";
    display: flex;
    flex-wrap: wrap;
    :not(:last-child) {
      margin: 0px 30px 0px 0px;
      @media (max-width: 400px) {
        margin: 0px 15px 0px 0px;
      }
    }
  }
  // .nav-items__list
  &__list {
    transition: linear 0.1s all;
    &:hover {
      transform: translate(0, -2px) scale(1.1);
    }
  }
  // .nav-items__link
  &__link {
    font-size: 14px;
    line-height: 30 / 14 * 100%;
    font-weight: 700;
    color: white;
    padding: 5px 10px;
    text-transform: capitalize;
    transition: linear 0.3s all;
    &:hover {
      color: #34c759;
    }
  }
}
.main-page {
  position: relative;
  // .main-page__background-img
  &__background-img {
    object-fit: cover;
    //  object-position:;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  // .main-page__container
  &__container {
  }
  // .main-page__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 171px 0px 401px 0px;
    position: relative;
    color: white;
    @media (max-width: 1140px) {
      padding: 171px 0px 35.17% 0px;
    }
    @media (max-width: 800px) {
      padding: 130px 0px 35.17% 0px;
    }
    @media (max-width: 400px) {
      padding: 130px 0px 50px 0px;
    }
  }
  // .main-page__title
  &__title {
    font-size: 72px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.11em;
    text-transform: capitalize;
    margin: 0px 0px 16px 0px;
    @media (max-width: 1140px) {
      font-size: calc(28px + 44 * ((100vw - 320px) / (1140 - 320)));
    }
  }
  // .main-page__text
  &__text {
    font-size: 16px;
    line-height: 162%;
    opacity: 0.7;
    text-align: center;
    max-width: 595px;
    margin: 0px 0px 40px 0px;
    @media (max-width: 1140px) {
      font-size: calc(14px + 2 * ((100vw - 320px) / (1140 - 320)));
    }
    @media (max-width: 800px) {
      margin: 0px 0px 20px 0px;
    }
  }
  // .main-page__button
  &__button {
    display: flex;
    font-family: "Helvetica Neue";
    background: #34c759;
    border-radius: 40px;
    height: 72px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-align: center;
    color: #1a1a1a;
    text-transform: capitalize;
    padding: 0 57px;
    margin: 0px 0px 70px 0px;
    align-items: center;
    transition: linear 0.2s all;
    @media (max-width: 800px) {
      margin: 0px 0px 30px 0px;
    }
    @media (max-width: 400px) {
      padding: 0 20px;
      height: 52px;
    }
    &:hover {
      background: #252525;
      color: #34c759;
      box-shadow: 0 0 10px 1px white;
      transform: translate(0, -2px);
    }
  }
  // .main-page__cards
  &__cards {
  }
}
.bold {
  font-weight: 700;
}
.cards {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 90px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.cards-item {
  flex: 0 1 245px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 -10px;
  padding: 0 10px;
  transition: all linear 0.2s;
  &:nth-child(2) :nth-child(2):hover {
    color: #34c759;
    transform: translate(0, -2px) scale(1.1);
    transition: all linear 0.2s;
  }
  // .cards-item__picture
  &__picture {
    margin: 0px 0px 16px 0px;
    @media (max-width: 400px) {
      margin: 0px 0 5px 0px;
    }
  }
  // .cards-item__img
  &__img {
  }
  // .cards-item__title
  &__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    transition: all linear 0.2s;
    @media (max-width: 400px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  // .cards-item__link-title
  &__link-title {
    color: white;
    transition: all linear 0.2s;
    &:hover {
      color: #34c759;
    }
  }
  // .cards-item__text
  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    opacity: 0.5;
    @media (max-width: 400px) {
      font-size: 12px;
      line-height: 20px;
    }
  }
}
.wow-it-works {
  // .wow-it-works__container
  &__container {
  }
  // .wow-it-works__content
  &__content {
    padding: 90px 0px 0px 0px;
    margin: 0px 0px 30px 0px;
    @media (max-width: 1140px) {
      padding: calc(9.9% - 20px) 0px 0px 0px;
    }
  }
  // .wow-it-works__title
  &__title {
    margin: 0px 0px 60px 0px;
    background: url("../img/how-it-works/bg_text.svg") center 12px no-repeat;
    @media (max-width: 530px) {
      margin: 0px 0px 11.32% 0px;
    }
  }
  // .wow-it-works__items
  &__items {
    display: flex;
    column-gap: 30px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: 871px) {
    }
  }
}
.item-wow-it-works {
  flex: 0 1 255px;
  @media (max-width: 570px) {
    flex: 1 1 255px;
  }
  // .item-wow-it-works__body
  &__body {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    padding: 24px;
    height: 100%;
    border-radius: 10px;
    transition: linear all 0.2s;
    @media (max-width: 570px) {
      padding: 10px;
    }
    &:hover ::after {
      background-color: #191919;
      transition: linear all 0.2s;
    }
    &:hover {
      background-color: #34c759;
    }
    &:hover * {
      color: #191919;
    }
  }
  // .item-wow-it-works__title
  &__title {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-transform: capitalize;
    margin: 0px 0px 24px 0px;
    @media (max-width: 570px) {
      text-align: center;
    }
    transition: linear all 0.2s;
    &::after {
      display: block;
      content: "";
      width: 56px;
      height: 2px;
      background: #34c759;
      margin: 20px 0px 0px 0px;
      transition: linear all 0.2s;
      @media (max-width: 570px) {
        margin: 20px auto 0px;
      }
    }
  }
  // .item-wow-it-works__text
  &__text {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    @media (max-width: 570px) {
      text-align: center;
    }
    transition: linear all 0.2s;
  }
}
.dishes {
  // .dishes__container
  &__container {
  }
  // .dishes__content
  &__content {
    padding: 90px 0px 0px 0px;
    margin: 0px 0px 30px 0px;
    @media (max-width: 1140px) {
      padding: calc(9.9% - 20px) 0px 0px 0px;
    }
  }
  // .dishes__title
  &__title {
    margin: 0px 0px 60px 0px;
    background: url("../img/dishes/EVENTS.svg") center 12px no-repeat;
    @media (max-width: 530px) {
      margin: 0px 0px 11.32% 0px;
    }
  }
  // .dishes__items
  &__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    margin: 0 -15px;
    @media (max-width: 510px) {
      justify-content: center;
      margin: 0;
    }
  }
  &__item {
    flex: 0 1 33.333%;
    padding: 0 15px;
    @media (max-width: 767.98px) {
      flex: 0 1 50%;
    }
    @media (max-width: 510px) {
      flex: 1 1 auto;
      max-width: 350px;
      padding: 0;
    }
  }
}
.item-dishes {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  transition: linear all 0.3s;
  min-width: 225px;
  @media (max-width: 767.98px) {
    max-width: 350px;
  }
  &:hover &__img {
    transform: scale(1.05);
  }
  &::after {
    cursor: pointer;
    content: url("../img/dishes/arrow.svg");
    position: absolute;
    top: 24px;
    right: 24px;
  }
  // .item-dishes__picture
  &__picture {
    position: relative;
    overflow: hidden;
    padding: 0px 0px 74.2857% 0px;
  }
  // .item-dishes__img
  &__img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: linear all 0.3s;
  }
  // .item-dishes__body
  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background: #252525;
    padding: calc(8.2857%) 8.571% 6.857%;
    @media (max-width: 510px) {
      padding: 15px 15px 15px;
    }
  }
  // .item-dishes__title
  &__title {
    font-size: 32px;
    font-weight: 400;
    color: #d9d9d9;
    @media (max-width: 1140px) {
      font-size: calc(1em + 1.4vw);
    }
    @media (max-width: 767.98px) {
      font-size: 32px;
    }
    @media (max-width: 766px) {
      font-size: calc(1em + 2.1vw);
    }
  }
  // .item-dishes__subtitle
  &__subtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #a4a8b2;
    margin: 0px 0px 20px 0px;
    @media (max-width: 1140px) {
      margin: 0px 0px calc((20 / 350) * 100%) 0px;
    }
  }
  // .item-dishes__text
  &__text {
    flex: 1 1 auto;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #85878c;
    margin: 0px 0px 5.7% 0px;
    letter-spacing: -0.1625px;
    @media (max-width: 1140px) {
      margin: 0px 0px calc(5.7% - 0.5vw) 0px;
    }
    @media (max-width: 511px) {
      margin: 0px 0px 10px 0px;
    }
  }
  // .item-dishes__side-bar
  &__side-bar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 10px;
    @media (max-width: 1091px) {
      justify-content: center;
    }
    @media (max-width: 510px) {
      justify-content: space-between;
    }
    @media (max-width: 320px) {
      justify-content: center;
    }
  }
  // .item-dishes__rating
  &__rating {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
    align-items: center;
    min-height: 40px;
    &:hover label {
      background: url("../img/dishes/ic_star_border-yelow.svg") no-repeat;
    }
    &:hover label:hover {
      background: url("../img/dishes/ic_star-yelow.svg") no-repeat;
    }
    &:hover label:hover ~ label {
      background: url("../img/dishes/ic_star-yelow.svg") no-repeat;
    }
  }
  input {
    display: none;
    &:checked ~ label {
      background: url("../img/dishes/ic_star-yelow.svg") no-repeat;
    }
  }
  label {
    cursor: pointer;
    width: 27px;
    height: 20px;
    background: url("../img/dishes/ic_star_border-grey.svg") no-repeat;
  }
  // .item-dishes__rating-number
  &__rating-number {
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 1.5px;
    color: #b3b3b3;
    margin: 0px 0px 0px 14px;
  }
  // .item-dishes__button
  &__button {
    font-family: "Helvetica Neue";
    font-size: 10px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0.2em;
    text-align: center;
    display: block;
    padding: 0 32px;
    min-height: 40px;
    background: #252525;
    border-radius: 30px;
    box-shadow: inset 0px 0px 0px 2px #303030;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: linear all 0.15s;
    &:hover {
      background: #34c759;
      box-shadow: inset 0px 0px 0px 2px #34c759;
      color: #191919;
    }
    @media (max-width: 510px) {
      padding: 0 9.14%;
    }
  }
}
.recipes {
  // .recipes__container
  &__container {
  }
  // .recipes__content
  &__content {
    padding: 90px 0px 0px 0px;
    margin: 0px 0px 30px 0px;
    @media (max-width: 1140px) {
      padding: calc(9.9% - 20px) 0px 0px 0px;
    }
  }
  // .recipes__title
  &__title {
    margin: 0px 0px 60px 0px;
    background: url("../img/recipes/EVENTS.svg") center 12px no-repeat;
    @media (max-width: 530px) {
      margin: 0px 0px 11.32% 0px;
    }
  }
  // .recipes__blocks
  &__blocks {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    @media (max-width: 991.98px) {
      gap: 30px;
    }
    @media (max-width: 991.98px) {
      justify-content: center;
    }
  }
  // .recipes__block
  &__block {
    flex: 0 1 50%;
    padding: 0 15px;
    @media (max-width: 991.98px) {
      min-width: 466px;
      flex: 0 1 auto;
    }
    @media (max-width: 530px) {
      min-width: unset;
    }
  }
  // .recipes__main-block
  &__main-block {
  }
  // .recipes__sub-bloks
  &__sub-bloks {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
    @media (max-width: 500px) {
      row-gap: 15px;
    }
  }
}
.main-block-recipes {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 11.11% 16.7%;
  border-radius: 10px;
  background: url("../img/recipes/main.png") 50% 50% / 140% 100% no-repeat;
  @media (max-width: 1050px) {
  }
  /* Условные планшеты */
  @media (max-width: 991.98px) {
    padding: 60px 90px;
    max-width: 700px;
  }
  /* Условные мобилки */
  @media (max-width: 570px) {
    padding: 11.11% 16.7%;
  }
  @media (max-width: 500px) {
    padding: 15px 20px;
  }
  &::after {
    content: url("../img/recipes/arrow.svg");
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
  // .main-block-recipes__subtitle
  &__subtitle {
    font-family: "Helvetica Neue";
    font-size: 10px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0 16px;
    margin: 0px 0px 5px 0px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.4);
    mix-blend-mode: normal;
  }
  // .main-block-recipes__body
  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @media (max-width: 500px) {
      row-gap: 5px;
    }
  }
  // .main-block-recipes__date
  &__date {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }
  // .main-block-recipes__title
  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    margin: 0px 0px 20px 0px;
    @media (max-width: 500px) {
      font-size: 20px;
      line-height: 30px;
      margin: 0px 0px 0px 0px;
    }
  }
  // .main-block-recipes__cheff
  &__cheff {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }
}
.view-comment {
  display: flex;
  align-items: center;
  align-self: center;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  // .view-comment__view
  &__view {
    margin: 0px 32px 0px 0px;
    position: relative;
    padding: 0px 0px 0px 36px;
    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 22px;
      height: 20px;
      transition: linear all 0.15s;
      background: url("../img/recipes/ic_remove_red_eye_white.svg") no-repeat;
    }
  }
  // .view-comment__comment
  &__comment {
    cursor: pointer;
    position: relative;
    padding: 0px 0px 0px 36px;
    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      width: 20px;
      height: 20px;
      transition: linear all 0.15s;
      background: url("../img/recipes/ic_question_answer_white.svg") no-repeat;
    }
  }
}
.sub-blok-recipes {
  background: url("../img/recipes/sub.png") 50% 50% / cover no-repeat;
  box-shadow: inset 0px 0px 0px 1000px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 30px 30px 20px;
  transition: linear all 0.15s;
  @media (max-width: 991.98px) {
    max-width: 700px;
  }
  @media (max-width: 500px) {
    padding: 15px 15px 10px;
  }
  &:hover {
    box-shadow: inset 0px 0px 0px 1000px rgba(52, 199, 89, 0.9);
    color: black;
  }
  &:hover &__date {
    color: black;
  }
  &:hover &__subtitle {
    background: black;
  }
  &:hover .view-comment__view::before {
    background: url("../img/recipes/ic_remove_red_eye.svg") no-repeat;
  }
  &:hover .view-comment__comment::before {
    background: url("../img/recipes/ic_question_answer.svg") no-repeat;
  }
  // .sub-blok-recipes__text
  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 0px 0px 10px 0px;
  }
  // .sub-blok-recipes__side-bar
  &__side-bar {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;
  }
  // .sub-blok-recipes__subtitle
  &__subtitle {
    font-family: "Helvetica Neue";
    font-size: 10px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0 16px;
    border-radius: 5px;
    background: hsla(0, 0%, 0%, 0.4);
    mix-blend-mode: normal;
    margin: 0px 15px 0px 0px;
    cursor: pointer;
    transition: linear all 0.15s;
  }
  // .sub-blok-recipes__date
  &__date {
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    color: #ffffff;
    flex: 1 1 auto;
    margin: 0px 15px 0px 0px;
    transition: linear all 0.15s;
  }
}

.page-title {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #d9d9d9;
  @media (max-width: 586px) {
    background: none;
    line-height: 40px;
    letter-spacing: 0.1em;
  }
  &::after {
    display: block;
    content: "";
    width: 56px;
    height: 2px;
    background: #34c759;
    margin: 28px auto 0px;
    transition: linear all 0.2s;
    @media (max-width: 1140px) {
      margin: 2.456% auto 0px;
    }
  }
}
